In [2]:
person = {
    "first" : "Gauri",
    "last": "Singhal",
    "email":"abc@gmail.com"
}

In [3]:
people = {
    "first": ["Corey"],
    "last" : ["Schafer"],
    "email":["core@gmail.com"]
}

In [4]:
people={
    "first": ["Corey" , "Dobby" , "john"],
    "last" : ["Schafer" , "Jane" , "deo"],
    "email":["core@gmail.com" , "dobby@gmail.com" , "johnDeo@gmail.com"]
}

# We can think it as keys as the col and values are the rows

In [5]:
people["email"]

['core@gmail.com', 'dobby@gmail.com', 'johnDeo@gmail.com']

In [6]:
# create the data frame from the above dictionary 
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
2   john      deo  johnDeo@gmail.com

In [9]:
df['email']

0       core@gmail.com
1      dobby@gmail.com
2    johnDeo@gmail.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

We can think dataframe as set of rows and columns 
We can think Series as rows of a single column

In [11]:
df.email

0       core@gmail.com
1      dobby@gmail.com
2    johnDeo@gmail.com
Name: email, dtype: object

In [12]:
df[['last' , 'email']]

      last              email
0  Schafer     core@gmail.com
1     Jane    dobby@gmail.com
2      deo  johnDeo@gmail.com

In [13]:
type(df[['last' , 'email']])
# it will return a dataframe as it contains more than one col

pandas.core.frame.DataFrame

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
df.iloc[0]

first             Corey
last            Schafer
email    core@gmail.com
Name: 0, dtype: object

In [18]:
df.iloc[[0,1]]

   first     last            email
0  Corey  Schafer   core@gmail.com
1  Dobby     Jane  dobby@gmail.com

In [19]:
df.iloc[[0,1], 2]

0     core@gmail.com
1    dobby@gmail.com
Name: email, dtype: object

In [20]:
df

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
2   john      deo  johnDeo@gmail.com

In [21]:
df.loc[0]

first             Corey
last            Schafer
email    core@gmail.com
Name: 0, dtype: object

In [22]:
df.loc[[0,1]]

   first     last            email
0  Corey  Schafer   core@gmail.com
1  Dobby     Jane  dobby@gmail.com

In [23]:
df.loc[[0,1] , 'email']

0     core@gmail.com
1    dobby@gmail.com
Name: email, dtype: object

In [24]:
df.loc[[0,1] , ['last','email']]

      last            email
0  Schafer   core@gmail.com
1     Jane  dobby@gmail.com