# FILTERING OF DATA

In [1]:
import pandas as pd

In [3]:
people={
    "first": ["Corey" , "Dobby" , "john" , "halina"],
    "last" : ["Schafer" , "Jane" , "deo" , "deo"],
    "email":["core@gmail.com" , "dobby@gmail.com" , "johnDeo@gmail.com" , "halena@gmial.com"]
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

    first     last              email
0   Corey  Schafer     core@gmail.com
1   Dobby     Jane    dobby@gmail.com
2    john      deo  johnDeo@gmail.com
3  halina      deo   halena@gmial.com

In [8]:
df['last'] == 'deo'

0    False
1    False
2     True
3     True
Name: last, dtype: bool

In [9]:
filt = (df['last'] == 'deo')

In [10]:
df[filt]

    first last              email
2    john  deo  johnDeo@gmail.com
3  halina  deo   halena@gmial.com

In [11]:
df.loc[filt]

    first last              email
2    john  deo  johnDeo@gmail.com
3  halina  deo   halena@gmial.com

In [12]:
df.loc[filt ,'email']

2    johnDeo@gmail.com
3     halena@gmial.com
Name: email, dtype: object

In [ ]:
filt2 = (df['last'] == 'deo') & (df['first'] == 'john')

In [17]:
df.loc[filt2 , 'email']

2    johnDeo@gmail.com
Name: email, dtype: object

In [18]:
filt2 = (df['last'] == 'Schafer') | (df['first'] == 'john')

In [19]:
df.loc[filt2]

   first     last              email
0  Corey  Schafer     core@gmail.com
2   john      deo  johnDeo@gmail.com

In [20]:
df.loc[~filt2]

    first  last             email
1   Dobby  Jane   dobby@gmail.com
3  halina   deo  halena@gmial.com