# Working with Dates and Time Series Data

In [12]:
import pandas as pd
from datetime import datetime

In [15]:
d_parser = lambda x: datetime.strptime(x ,'%Y-%m-%d %I-%p')
df = pd.read_csv('ETH_1h_mock.csv' , parse_dates=['Date'] , date_parser=d_parser)

C:\Users\GAURI SINGHAL\AppData\Local\Temp\ipykernel_25672\2936725064.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv('ETH_1h_mock.csv' , parse_dates=['Date'] , date_parser=d_parser)

In [ ]:
# Hey now the date parser is used instead of datetime 
df = pd.read_csv(
    'ETH_1h_mock.csv',
    parse_dates=['Date'],
    date_format='%Y-%m-%d %I-%p'   # 12-hour format with AM/PM
)

In [17]:
df.head()

                 Date  Symbol    Open    High     Low   Close       Volume
0 2020-01-01 00:00:00  ETHUSD  299.28  301.81  285.08  299.78   8736540.72
1 2020-01-01 01:00:00  ETHUSD  208.03  213.68  193.67  196.18  10361605.35
2 2020-01-01 02:00:00  ETHUSD  131.49  145.68  118.73  127.54   6582802.38
3 2020-01-01 03:00:00  ETHUSD  146.64  155.28  137.70  145.30   3340707.84
4 2020-01-01 04:00:00  ETHUSD  246.34  247.86  236.67  245.91   7097933.31

In [4]:
df.loc[0 , 'Date']

'2020-01-01 12-AM'

In [5]:
df.loc[0 , 'Date'].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
# here date and time are not formatted in the way so taht it can be parsed by pandas so this error occur

C:\Users\GAURI SINGHAL\AppData\Local\Temp\ipykernel_25672\2394721818.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

DateParseError: Unknown datetime string format, unable to parse: 2020-01-01 12-AM, at position 0

In [7]:
df['Date'] = pd.to_datetime(df['Date'] , format='%Y-%m-%d %I-%p')

In [8]:
df['Date']

0      2020-01-01 00:00:00
1      2020-01-01 01:00:00
2      2020-01-01 02:00:00
3      2020-01-01 03:00:00
4      2020-01-01 04:00:00
               ...
2155   2020-03-30 19:00:00
2156   2020-03-30 20:00:00
2157   2020-03-30 21:00:00
2158   2020-03-30 22:00:00
2159   2020-03-30 23:00:00
Name: Date, Length: 2160, dtype: datetime64[ns]

In [9]:
df.loc[0 , 'Date'].day_name()

'Wednesday'

In [ ]:
# if we want to parse this whikle loading our data so we can add the format while our data was loading

In [18]:
# if we want to see the day name of the columns then what we can do 
df['Date']

0      2020-01-01 00:00:00
1      2020-01-01 01:00:00
2      2020-01-01 02:00:00
3      2020-01-01 03:00:00
4      2020-01-01 04:00:00
               ...
2155   2020-03-30 19:00:00
2156   2020-03-30 20:00:00
2157   2020-03-30 21:00:00
2158   2020-03-30 22:00:00
2159   2020-03-30 23:00:00
Name: Date, Length: 2160, dtype: datetime64[ns]

In [19]:
df['Date'].dt.day_name()

0       Wednesday
1       Wednesday
2       Wednesday
3       Wednesday
4       Wednesday
          ...
2155       Monday
2156       Monday
2157       Monday
2158       Monday
2159       Monday
Name: Date, Length: 2160, dtype: object

In [22]:
df['DayOfWeek'] = df['Date'].dt.day_name()

In [23]:
df

,Date,Symbol,Open,High,Low,Close,Volume,DayOfWeek
0,2020-01-01 00:00:00,ETHUSD,299.28,301.81,285.08,299.78,8736540.72,Wednesday
1,2020-01-01 01:00:00,ETHUSD,208.03,213.68,193.67,196.18,10361605.35,Wednesday
2,2020-01-01 02:00:00,ETHUSD,131.49,145.68,118.73,127.54,6582802.38,Wednesday
3,2020-01-01 03:00:00,ETHUSD,146.64,155.28,137.70,145.30,3340707.84,Wednesday
4,2020-01-01 04:00:00,ETHUSD,246.34,247.86,236.67,245.91,7097933.31,Wednesday
...,...,...,...,...,...,...,...,...
2155,2020-03-30 19:00:00,ETHUSD,82.88,92.86,75.66,90.57,3662717.09,Monday
2156,2020-03-30 20:00:00,ETHUSD,227.90,239.09,214.13,214.94,7858185.01,Monday
2157,2020-03-30 21:00:00,ETHUSD,173.25,176.93,160.88,171.41,14654714.34,Monday
2158,2020-03-30 22:00:00,ETHUSD,153.97,165.76,144.79,160.74,9297959.16,Monday
2159,2020-03-30 23:00:00,ETHUSD,169.99,171.21,160.28,169.94,19358848.40,Monday

In [24]:
# To the earliest and latest dates in the data
df['Date'].min()

Timestamp('2020-01-01 00:00:00')

In [25]:
df['Date'].max()

Timestamp('2020-03-30 23:00:00')

In [26]:
df['Date'].max() - df['Date'].min()

Timedelta('89 days 23:00:00')