### Indexes

In [2]:
import pandas as pd

In [3]:
people={
    "first": ["Corey" , "Dobby" , "john"],
    "last" : ["Schafer" , "Jane" , "deo"],
    "email":["core@gmail.com" , "dobby@gmail.com" , "johnDeo@gmail.com"]
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
2   john      deo  johnDeo@gmail.com

In [6]:
df['email']

0       core@gmail.com
1      dobby@gmail.com
2    johnDeo@gmail.com
Name: email, dtype: object

In [7]:
df.set_index('email')

                   first     last
email
core@gmail.com     Corey  Schafer
dobby@gmail.com    Dobby     Jane
johnDeo@gmail.com   john      deo

In [8]:
df

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
2   john      deo  johnDeo@gmail.com

In [9]:
df.set_index('email' , inplace=True)

In [10]:
df

                   first     last
email
core@gmail.com     Corey  Schafer
dobby@gmail.com    Dobby     Jane
johnDeo@gmail.com   john      deo

In [11]:
df.index

Index(['core@gmail.com', 'dobby@gmail.com', 'johnDeo@gmail.com'], dtype='object', name='email')

In [12]:
df.loc['core@gmail.com']

first      Corey
last     Schafer
Name: core@gmail.com, dtype: object

In [13]:
df.loc['core@gmail.com' , 'last']

'Schafer'

In [ ]:
df.iloc[0]
# If we will use loc then it will not fetch the data as now index 0 is not present

first      Corey
last     Schafer
Name: core@gmail.com, dtype: object

In [ ]:
# here if we want our indexes vback
df.reset_index(inplace=True)
df

               email  first     last
0     core@gmail.com  Corey  Schafer
1    dobby@gmail.com  Dobby     Jane
2  johnDeo@gmail.com   john      deo