## Sorting

In [1]:
import pandas as pd

In [2]:
people={
    "first": ["Corey" , "Dobby" , "John" , "Adam"],
    "last" : ["Schafer" , "Jane" , "Deo" , "Deo"],
    "email":["core@gmail.com" , "dobby@gmail.com" , "johnDeo@gmail.com", "adam@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
2   John      Deo  johnDeo@gmail.com
3   Adam      Deo     adam@gmail.com

In [5]:
df.sort_values(by='last')

   first     last              email
2   John      Deo  johnDeo@gmail.com
3   Adam      Deo     adam@gmail.com
1  Dobby     Jane    dobby@gmail.com
0  Corey  Schafer     core@gmail.com

In [6]:
df.sort_values(by='last' , ascending=False)

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
2   John      Deo  johnDeo@gmail.com
3   Adam      Deo     adam@gmail.com

In [7]:
df.sort_values(by=['last' , 'first'] , ascending=False)

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
2   John      Deo  johnDeo@gmail.com
3   Adam      Deo     adam@gmail.com

In [8]:
df.sort_values(by=['last' , 'first'] , ascending=[False,True] , inplace=True)

In [9]:
df

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
3   Adam      Deo     adam@gmail.com
2   John      Deo  johnDeo@gmail.com

In [10]:
df.sort_index()

   first     last              email
0  Corey  Schafer     core@gmail.com
1  Dobby     Jane    dobby@gmail.com
2   John      Deo  johnDeo@gmail.com
3   Adam      Deo     adam@gmail.com

In [11]:
df['last'].sort_values()

3        Deo
2        Deo
1       Jane
0    Schafer
Name: last, dtype: object